<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"
    />
    <title>派工系統</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/index.js"></script>
    <script src="../js/navbar.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar"></div>

    <section id="dashboard-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="text-center">
              <h2 class="dashboard-title">富邦大無疆C館</h2>
            </div>
            <div class="row gy-4">
              <div class="col-md-3">
                <div class="Trial clickable">
                  <p class="betatext">目前本體驗版僅提供機電功能作為試用</p>
                  <div class="card light-shadow">
                    <div class="card-content">
                      <div class="icon-box yellow">
                        <i class="fa-solid fa-bolt"></i>
                      </div>
                      <p>機電</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-content">
                    <div class="icon-box yellow">
                      <i class="fa-solid fa-battery"></i>
                    </div>
                    <p>弱電</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card light-shadow">
                  <div class="card-content">
                    <div class="icon-box green">
                      <i class="fa-solid fa-elevator"></i>
                    </div>
                    <p>電梯</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-content">
                    <div class="icon-box gray">
                      <i class="fa-solid fa-kitchen-set"></i>
                    </div>
                    <p>廚餘管線</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-content">
                    <div class="icon-box gray">
                      <i class="fa-solid fa-water"></i>
                    </div>
                    <p>污水處理</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card light-shadow">
                  <div class="card-content">
                    <div class="icon-box blue">
                      <i class="fa-solid fa-water-ladder"></i>
                    </div>
                    <p>泳池</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="card-content">
                    <div class="icon-box pink">
                      <i class="fa-solid fa-pagelines"></i>
                    </div>
                    <p>園藝</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card light-shadow">
                  <div class="card-content">
                    <div class="icon-box purple">
                      <i class="fa-solid fa-broom"></i>
                    </div>
                    <p>清潔</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
