<!-- 查詢估價單 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <title>派工系統</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slick -->
    <link rel="stylesheet" href="../css/packages/slick-theme.css">
    <link rel="stylesheet" href="../css/packages/slick.css">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/preview.css?">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-xs-12 nav-container">
                    <div class="d-flex align-items-center">
                        <a class="navbar-brand" href="#">
                            <img src="../images/logo_black.png" alt="Logo" width="50">
                        </a>
                        <div class="breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-home"></i> 廠商分類</a></li>
                                <li class="breadcrumb-item"><a href="#">機電</a></li>
                                <li class="breadcrumb-item"><a href="#">查詢估價單紀錄</a></li>
                                <li class="breadcrumb-item active">估價單紀錄</li>
                            </ol>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" id="navToggler">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>

        </div>
    </nav>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas-nav" id="offcanvasNavbar">
        <div class="offcanvas-header">
            <img src="../images/logo_black.png" alt="Logo" width="50">
            <i class="fa-solid fa-xmark" id="closeOffcanvas"></i>
        </div>
        <div class="offcanvas-body p-4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div><i class="fa-solid fa-home"></i>廠商分類</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div><i class="fa-solid fa-gear"></i>設定</div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-upload"></i>上傳發票</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-magnifying-glass"></i>查詢發票</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-upload"></i>上傳估價單</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-magnifying-glass"></i>查詢估價單</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-magnifying-glass"></i>維護及施工紀錄查詢</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-xs-12">
                    <div class="mt-5">
                        <h4 class="mb-4 back"><i class="fa-solid fa-arrow-left" id="goBack"></i>檔案預覽</h4>
                        <div class="file-preview">
                            <div class="file-image">
                                <div class="image-preview">
                                    <img src="../images/no-image.png" alt="Image Preview">
                                </div>
                            </div>
                            <div class="content-container">
                                <div class="file-details">
                                    <div class="info">
                                        <p><strong>上傳標題</strong><span class="upload-title"></span></p>
                                        <p><strong>上傳說明</strong><span class="upload-info"></span></p>
                                        <p><strong>上傳人員</strong><span class="uploader"></span></p>
                                        <p><strong>上傳日期</strong><span class="upload-date"></span></p>
                                        <div class="upload-wrapper">
                                            <p><strong>上傳檔案</strong></p>
                                            <div>
                                                <ul class="uploaded-file"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnails">
                                    <p class="mt-2"><strong>上傳圖片</strong></p>
                                    <div class="slider">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrapper">
                            <a href="upload_assessment_edit.html" class="button btn-blue edit-button">編輯</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/packages/slick.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#navToggler').on('click', function () {
                    $('#offcanvasNavbar').toggleClass('show');
                });

                $('#closeOffcanvas').on('click', function () {
                    $('#offcanvasNavbar').removeClass('show');
                });

                $('[data-dropdown="true"]').on('click', function () {
                    $(this).toggleClass("active");
                    const dropdownMenu = $(this).siblings('.dropdown-menu');
                    if (dropdownMenu.children().length === 0) {
                        const dropdownItems = ["機電", "弱電", "電梯", "廚餘管線", "污水處理", "園藝", "清潔"];
                        dropdownItems.forEach(item => {
                            dropdownMenu.append(`<li><a class="dropdown-item" href="#">${item}</a></li>`);
                        });
                    }
                    dropdownMenu.toggleClass('show');
                });

                $('#goBack').on('click', function () {
                    window.history.back();
                });

                let data = callAPI();
                fillInfo(data);
            });

            function callAPI() {

                const data = {
                    title: '我是標題3',
                    uploader: '王小明',
                    uploadInfo: '我是說明3',
                    uploadDate: '2024-09-21',
                    imageFiles: [
                        { url: '../images/night_city.jpg', name: 'Night City 1' },
                        { url: '../images/night_city.jpg', name: 'Night City 2' },
                        { url: '../images/logo_black.png', name: 'Night City 3' },
                        { url: '../images/night_city.jpg', name: 'Night City 4' }
                    ],
                    pdfFiles: [
                        { url: '../files/demo.pdf', name: 'demo.pdf' },
                        { url: '../files/demo.pdf', name: 'demo.pdf' }
                    ]
                };

                return data;

                $.ajax({
                    url: '/api/getFiles',
                    type: 'GET',
                    success: function (response) {

                    },
                    error: function (error) {
                        console.log('Error fetching files:', error);
                    }
                });
            }


            function fillInfo(data) {
                // 基本資料
                $('.upload-title').text(data.title);
                $('.upload-info').text(data.uploadInfo);
                $('.uploader').text(data.uploader)
                $('.upload-date').text(data.uploadDate);

                // 圖片        
                const sliderContainer = $('.slider');
                sliderContainer.empty();

                data.imageFiles.forEach(function (imageFile) {
                    const imageElement = `<img src="${imageFile.url}" alt="${imageFile.name}" class="slider-image">`;
                    sliderContainer.append(imageElement);
                });

                $(".slider").slick({
                    dots: true,
                    infinite: false,
                    centerMode: true,
                    speed: 300,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    prevArrow: '<button type="button" class="slick-prev"><i class="fa-solid fa-chevron-left"></i></button>',
                    nextArrow: '<button type="button" class="slick-next"><i class="fa-solid fa-chevron-right"></i></button>'
                });

                var initialImageSrc = $('.slider .slick-current').attr('src');
                $('.image-preview img').attr('src', initialImageSrc);

                // pdf文件
                const pdfListContainer = $('.uploaded-file');
                pdfListContainer.empty();
                if (data.pdfFiles.length === 0) {
                    pdfListContainer.append('<li class="no-file">無檔案上傳</li>');
                } else {
                    data.pdfFiles.forEach(function (pdfFile) {
                        const pdfElement = `<li><a href="${pdfFile.url}" target="_blank" download>${pdfFile.name} <i class="fa-solid fa-external-link-alt"></i></a></li>`;
                        pdfListContainer.append(pdfElement);
                    });
                    $('.upload-wrapper div').append('<p class="note">＊ 點擊檔案將自動下載</p>');
                }
            }
        </script>
</body>

</html>