<!-- 查詢發票 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <title>派工系統</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- flatpickr -->
    <link rel="stylesheet" href="../css/packages/flatpickr.min.css">
    <script src="../js/packages/flatpickr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>

    <!-- dataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/records.css?v=20241110">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-xs-12 nav-container">
                    <div class="d-flex align-items-center">
                        <a class="navbar-brand" href="#">
                            <img src="../images/logo_black.png" alt="Logo" width="50">
                        </a>
                        <div class="breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa-solid fa-home"></i>
                                        廠商分類</a></li>
                                <li class="breadcrumb-item"><a href="index.html">機電</a></li>
                                <li class="breadcrumb-item active">查詢發票</li>
                            </ol>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" id="navToggler">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>

        </div>
    </nav>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas-nav" id="offcanvasNavbar">
        <div class="offcanvas-header">
            <img src="../images/logo_black.png" alt="Logo" width="50">
            <i class="fa-solid fa-xmark" id="closeOffcanvas"></i>
        </div>
        <div class="offcanvas-body p-4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <div><i class="fa-solid fa-home"></i>廠商分類</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div><i class="fa-solid fa-gear"></i>設定</div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-upload"></i>上傳發票</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-magnifying-glass"></i>查詢發票</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-upload"></i>上傳估價單</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-magnifying-glass"></i>查詢估價單</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-dropdown="true">
                        <div><i class="fa-solid fa-magnifying-glass"></i>維護及施工紀錄查詢</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-content">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-content" class="row">
        <div class="col-md-5 col-xs-12">
            <div class="container">
                <div class="row left-container">
                    <div class="col-md-8 col-10 left-content">
                        <h4 class="mb-4">機電查詢發票</h4>
                        <form class="search-form">
                            <div class="form-group">
                                <label for="startDate" class="form-label"><i class="fa-solid fa-clock"></i> 起始時間</label>
                                <div class="input-wrapper">
                                    <input class="form-control" id="startDate">
                                    <i class="fa-regular fa-calendar"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endDate" class="form-label"><i class="fa-solid fa-clock"></i> 結束時間</label>
                                <div class="input-wrapper">
                                    <input class="form-control" id="endDate">
                                    <i class="fa-regular fa-calendar"></i>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <button type="button" class="button search-button" id="searchButton">搜尋</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12 right-content">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-md-10 col-xs-12">
                        <div class="table-responsive">
                            <table id="records-table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>上傳標題</th>
                                        <th>上傳人員</th>
                                        <th>上傳日期</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#navToggler').on('click', function () {
                $('#offcanvasNavbar').toggleClass('show');
            });

            $('#closeOffcanvas').on('click', function () {
                $('#offcanvasNavbar').removeClass('show');
            });

            $('[data-dropdown="true"]').on('click', function () {
                $(this).toggleClass("active");
                const dropdownMenu = $(this).siblings('.dropdown-menu');
                if (dropdownMenu.children().length === 0) {
                    const dropdownItems = ["機電", "弱電", "電梯", "廚餘管線", "污水處理", "園藝", "清潔"];
                    dropdownItems.forEach(item => {
                        dropdownMenu.append(`<li><a class="dropdown-item" href="#">${item}</a></li>`);
                    });
                }
                dropdownMenu.toggleClass('show');
            });

            let data = callAPI();

            // 建立table
            const tableBody = $('#records-table tbody');
            tableBody.empty();
            data.forEach(function (record) {
                const row = `<tr data-link="${record.link}">
                                <td>${record.title}</td>
                                <td>${record.uploader}</td>
                                <td>${record.uploadDate}</td>
                             </tr>`;
                tableBody.append(row);
            });

            const table = $('#records-table').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 5,
                language: {
                    "sProcessing": "處理中...",
                    "sLengthMenu": "顯示 _MENU_ 項結果",
                    "sZeroRecords": "沒有匹配結果",
                    "sInfo": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                    "sInfoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                    "sInfoFiltered": "(從 _MAX_ 項結果過濾)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    paginate: {
                        previous: "&lt;",
                        next: "&gt;"
                    }

                }
            });

            $('#records-table tbody').on('click', 'tr', function () {
                const link = $(this).data('link');
                if (link) {
                    window.location.href = link;
                }
            });

            $('#searchButton').on('click', function () {
                const startDate = new Date($('#startDate').val());
                const endDate = new Date($('#endDate').val());

                $.fn.dataTable.ext.search.push(function (settings, data) {
                    const date = new Date(data[2]);
                    return date >= startDate && date <= endDate;
                });

                table.draw();
                $.fn.dataTable.ext.search.pop();
            });

            // 時間日期設定
            const startDatePicker = flatpickr("#startDate", {
                enableTime: false,
                dateFormat: "Y-m-d",
                locale: "zh",
                maxDate: "today",
                time_24hr: false,
                disableMobile: true,
                allowInput: false
            });

            const endDatePicker = flatpickr("#endDate", {
                enableTime: false,
                dateFormat: "Y-m-d",
                time_24hr: false,
                locale: "zh",
                maxDate: "today",
                disableMobile: true,
                allowInput: false
            });

            $('.input-wrapper i.fa-regular.fa-calendar').on('click', function () {
                const inputId = $(this).siblings('input').attr('id');
                if (inputId === 'startDate') {
                    startDatePicker.open();
                } else if (inputId === 'endDate') {
                    endDatePicker.open();
                }
            });
        });

        function callAPI() {
            const data = [
                { title: '我是標題1', uploader: '王小明', uploadDate: '2024-09-21', link: 'preview_receipt.html' },
                { title: '我是標題2', uploader: '王中明', uploadDate: '2024-09-22', link: 'preview_receipt.html' },
                { title: '我是標題3', uploader: '王大明', uploadDate: '2024-09-23', link: 'preview_receipt.html' },
                { title: '我是標題4', uploader: '小安娜', uploadDate: '2024-09-26', link: 'preview_receipt.html' },
                { title: '我是標題5', uploader: '大安娜', uploadDate: '2024-09-27', link: 'preview_receipt.html' },
                { title: '我是標題6', uploader: '大安娜', uploadDate: '2024-09-27', link: 'preview_receipt.html' },
                { title: '我是標題7', uploader: '大安娜', uploadDate: '2024-09-27', link: 'preview_receipt.html' },
                { title: '我是標題8', uploader: '大安娜', uploadDate: '2024-09-27', link: 'preview_receipt.html' },
                { title: '我是標題9', uploader: '大安娜', uploadDate: '2024-09-27', link: 'preview_receipt.html' }
            ];

            return data;
        }
    </script>
</body>

</html>