<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
    <title>派工系統</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="../js/navbar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/upload.css">

    <!-- modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <!-- Navbar -->
    <div class="navbar"></div>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-xs-12 p-0">
                    <div class="form-section mt-5">
                        <h4 class="mb-4 back"><i class="fa-solid fa-arrow-left" id="goBack"></i>機電估價單</h4>
                        <form id="uploadForm">
                            <div class="form-group">
                                <label for="title" class="form-label">標題</label>
                                <input type="text" class="form-control" id="title" placeholder="請輸入標題" required>
                            </div>
                            <div class="form-group">
                                <label for="description" class="form-label">說明</label>
                                <input type="text" class="form-control" id="description" placeholder="請說明此估價單" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">選擇文件</label>
                                <div id="uploadBox" class="upload-box">
                                    <div class="icon-wrap">
                                        <i class="fa-solid fa-file-upload"></i>
                                    </div>
                                    <h5>點擊上傳文件</h5>
                                    <small>任何小於10Mb的圖檔</small>
                                </div>
                            </div>
                            <div class="uploaded-files form-group" id="uploadedFiles">
                                <label class="form-label">上傳文件（已上傳 <span id="uploadedCount">0</span> 筆）</label>
                                <div id="uploadedFileList">
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <button type="submit" class="button btn-blue">儲存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 瀏覽圖片視窗 -->
    <div class="modal fade" id="filePreviewModal" tabindex="-1" aria-labelledby="filePreviewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filePreviewModalLabel">文件預覽</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" id="filePreviewBody">
                </div>
            </div>
        </div>
    </div>

    <!-- 取消視窗 -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="cancelModalLabel">
                        <i class="fa-solid fa-triangle-exclamation"></i> 確定取消此檔案紀錄？
                    </h5>
                </div>
                <div class="modal-body">
                    <p>按下「確定」後，此筆檔案紀錄將不會儲存。您將無法回到此筆紀錄。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button btn-wb" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="button btn-red" id="confirmBtn">確定</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#navToggler').on('click', function () {
                $('#offcanvasNavbar').toggleClass('show');
            });

            $('#closeOffcanvas').on('click', function () {
                $('#offcanvasNavbar').removeClass('show');
            });

            $('[data-dropdown="true"]').on('click', function () {
                $(this).toggleClass("active");
                const dropdownMenu = $(this).siblings('.dropdown-menu');
                if (dropdownMenu.children().length === 0) {
                    const dropdownItems = ["機電", "弱電", "電梯", "廚餘管線", "污水處理", "園藝", "清潔"];
                    dropdownItems.forEach(item => {
                        dropdownMenu.append(`<li><a class="dropdown-item" href="#">${item}</a></li>`);
                    });
                }
                dropdownMenu.toggleClass('show');
            });

            $('#goBack').on('click', function () {
                window.history.back();
            });

            $('#uploadBox').on('click', function () {
                const fileInput = $('<input type="file" accept=".pdf, .png, .jpeg, .jpg" style="display:none;">');
                fileInput.on('change', function () {
                    const file = this.files[0];
                    if (file) {
                        let fileIcon = '<i class="fa-solid fa-file file"></i>';
                        if (file.type === 'application/pdf') {
                            fileIcon = '<i class="fa-solid fa-file-pdf file"></i>';
                        } else if (['image/png', 'image/jpeg', 'image/jpg'].includes(file.type)) {
                            fileIcon = '<i class="fa-solid fa-file-image file"></i>';
                        }
                        const uploadedFile = `<div class="uploaded-file" data-file-type="${file.type}" data-file-url="${URL.createObjectURL(file)}"><div>${fileIcon}<span>${file.name}</span></div><div class="delete-icon"><i class="fa-solid fa-trash-can delete-file"></i></div></div>`;
                        $('#uploadedFileList').append(uploadedFile);
                        const currentCount = parseInt($('#uploadedCount').text(), 10);
                        $('#uploadedCount').text(currentCount + 1);
                    }
                });
                fileInput.click();
            });

            $('#uploadedFileList').on('click', '.delete-icon', function (e) {
                e.stopPropagation();
                $(this).closest(".uploaded-file").remove();
                const currentCount = parseInt($('#uploadedCount').text(), 10);
                $('#uploadedCount').text(currentCount - 1);
            });

            // 檔案檢視
            $('#uploadedFileList').on('click', '.uploaded-file', function (e) {
                const fileType = $(this).data('file-type');
                const fileUrl = $(this).data('file-url');
                let previewContent = '';

                if (fileType === 'application/pdf') {
                    previewContent = `<iframe src="${fileUrl}" width="100%" height="500px"></iframe>`;
                } else if (['image/png', 'image/jpeg', 'image/jpg'].includes(fileType)) {
                    previewContent = `<img src="${fileUrl}" class="img-fluid" alt="File Preview">`;
                }

                $('#filePreviewBody').html(previewContent);
                $('#filePreviewModal').modal('show');
            });

            $('#cancelButton').on('click', function () {
                $('#cancelModal').modal('show');
            });

            $('#confirmBtn').on('click', function () {
                $('#cancelModal').modal('hide');
            });

            $('#uploadForm').on('submit', function (event) {
                event.preventDefault();
                if ($('#uploadedFileList').children().length === 0) {
                    alert('請上傳至少一個文件。');
                    return;
                }

                const formData = new FormData(this);
                $('#uploadedFileList .uploaded-file').each(function () {
                    const fileUrl = $(this).data('file-url');
                    formData.append('files[]', fileUrl);
                });

                $.ajax({
                    url: 'api',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('文件上傳成功！');
                    },
                    error: function (xhr, status, error) {
                        alert('文件上傳失敗，請重試。');
                    }
                });
            });

        });
    </script>
</body>

</html>