<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"
    />
    <title>派工系統</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- slick -->
    <link rel="stylesheet" href="../../css/packages/slick-theme.css" />
    <link rel="stylesheet" href="../../css/packages/slick.css" />

    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/mobile/details.css" />

    <!-- modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <!-- Navbar -->
    <nav id="mobile" class="navbar">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-xs-12 nav-container">
            <div class="d-flex align-items-center">
              <a
                href="javascript:void(0)"
                class="return-wrapper"
                onclick="window.history.back();"
              >
                <i class="fa-solid fa-chevron-left"></i>
              </a>
            </div>
            <button class="navbar-toggler" type="button" id="navToggler">
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas-nav" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <img src="../../images/logo_black.png" alt="Logo" width="50" />
        <i class="fa-solid fa-xmark" id="closeOffcanvas"></i>
      </div>
      <div class="offcanvas-body p-4">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="upload_record.html" data-dropdown="true">
              <div><i class="fa-solid fa-upload"></i>記錄上傳</div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="record_maintenance.html"
              data-dropdown="true"
            >
              <div><i class="fa-solid fa-clock"></i>保養紀錄</div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="record_construction.html"
              data-dropdown="true"
            >
              <div><i class="fa-solid fa-clock"></i>施工紀錄</div>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0);" data-dropdown="true">
              <div><i class="fa-solid fa-door-open"></i>登出</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-xs-12">
            <h4>保養紀錄</h4>
            <div class="file-preview">
              <!-- 圖片顯示 -->
              <div class="file-image">
                <div class="image-preview">
                  <div class="slider"></div>
                </div>
              </div>

              <div class="content-container">
                <div class="content">內容細項</div>
                <div class="d-flex">
                  <div class="wrap col-6">
                    <div class="title">上傳人員</div>
                    <p class="name"></p>
                  </div>
                  <div class="wrap col-6">
                    <div class="title">上傳日期</div>
                    <p class="date"></p>
                  </div>
                </div>
                <div class="details-container">
                  <div class="wrap brief-wrap">
                    <div class="title">細項說明</div>
                    <p class="brief-info"></p>
                  </div>
                  <div class="wrap location-wrap">
                    <div class="title">位置說明</div>
                    <p class="location-info"></p>
                  </div>
                  <div class="wrap upload-wrap">
                    <div class="title">上傳檔案</div>
                    <ul class="uploaded-file"></ul>
                  </div>
                </div>
                <div class="btn-wrapper">
                  <a href="index.html" class="button btn-blue" id="goHome"
                    >首頁</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 瀏覽圖片視窗 -->
    <div
      class="modal fade"
      id="filePreviewModal"
      tabindex="-1"
      aria-labelledby="filePreviewModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="filePreviewModalLabel">文件預覽</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center" id="filePreviewBody"></div>
        </div>
      </div>
    </div>

    <script src="../../js/packages/slick.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#navToggler").on("click", function () {
          $("#offcanvasNavbar").toggleClass("show");
        });

        $("#closeOffcanvas").on("click", function () {
          $("#offcanvasNavbar").removeClass("show");
        });

        $('[data-dropdown="true"]').on("click", function () {
          $(this).toggleClass("active");
          const dropdownMenu = $(this).siblings(".dropdown-menu");
          if (dropdownMenu.children().length === 0) {
            const dropdownItems = [
              "機電",
              "弱電",
              "電梯",
              "廚餘管線",
              "污水處理",
              "園藝",
              "清潔",
            ];
            dropdownItems.forEach((item) => {
              dropdownMenu.append(
                `<li><a class="dropdown-item" href="#">${item}</a></li>`
              );
            });
          }
          dropdownMenu.toggleClass("show");
        });

        $("#goBack").on("click", function () {
          window.history.back();
        });

        $(document).on("click", ".slider img", function () {
          var imageSrc = $(this).attr("src");
          $("#filePreviewBody").html(
            `<img src="${imageSrc}" alt="Image Preview" class="img-fluid">`
          );
          $("#filePreviewModal").modal("show");
        });

        $(document).on("click", ".uploaded-file a", function (e) {
          e.preventDefault();
          var pdfSrc = $(this).attr("href");
          if ($(window).width() < 768) {
            window.open(pdfSrc, "_blank");
          } else {
            $("#filePreviewBody").html(
              `<embed src="${pdfSrc}" type="application/pdf" width="100%" height="500px">`
            );
            $("#filePreviewModal").modal("show");
          }
        });

        let data = callApi();
        fillDetails(data);
      });

      function callApi() {
        const data = {
          uploader: "王大明",
          uploadDate: "2024-09-23",
          briefInfo:
            "我是細項說明我是細項說明我是細項說明我是細項說明我是細項說明",
          locationInfo:
            "我是位置說明我是位置說明我是位置說明我是位置說明我是位置說明",
          uploadedImages: [
            { url: "../../images/night_city.jpg", name: "Night City 1" },
            { url: "../../images/night_city.jpg", name: "Night City 2" },
            { url: "../../images/logo_black.png", name: "Night City 3" },
            { url: "../../images/night_city.jpg", name: "Night City 4" },
          ],
          uploadedFiles: [{ url: "../../files/demo.pdf", name: "demo.pdf" }],
        };
        return data;

        $.ajax({
          url: "/api/details",
          type: "POST",
          contentType: "application/json",
          success: function (response) {
            fillDetails(response);
          },
          error: function (error) {
            console.error("錯誤：", error);
            alert("無法取得資料。");
          },
        });
      }

      function fillDetails(details) {
        // 基本資料
        $(".content-container .name").text(details.uploader);
        $(".content-container .date").text(details.uploadDate);
        $(".details-container .brief-wrap .brief-info").text(details.briefInfo);
        $(".details-container .location-wrap .location-info").text(
          details.locationInfo
        );
        $(".details-container .upload-wrap .uploaded-file").empty();

        // 圖片
        details.uploadedImages.forEach(function (imageFile) {
          var imageElement = `<img src="${imageFile.url}" alt="Thumbnail">`;
          $(".slider").append(imageElement);
        });

        $(".slider").slick({
          centerMode: true,
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 3,
          slidesToScroll: 1,
          prevArrow:
            '<button type="button" class="slick-prev"><i class="fa-solid fa-chevron-left"></i></button>',
          nextArrow:
            '<button type="button" class="slick-next"><i class="fa-solid fa-chevron-right"></i></button>',
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                centerPadding: "40px",
                infinite: true,
                dots: true,
              },
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
                centerPadding: "40px",
                arrows: true,
              },
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                centerPadding: "40px",
                arrows: true,
              },
            },
          ],
        });

        // pdf檔案
        if (details.uploadedFiles.length === 0) {
          $(".details-container .upload-wrap .uploaded-file").append(
            '<li class="no-file">無檔案上傳</li>'
          );
        } else {
          details.uploadedFiles.forEach(function (file) {
            var fileElement = `<li><a href="${file.url}" target="_blank" download>${file.name} <i class="fa-solid fa-external-link-alt"></i></a></li>`;
            $(".details-container .upload-wrap .uploaded-file").append(
              fileElement
            );
          });
          $(".details-container .upload-wrap").append(
            '<p class="note">＊ 點擊檔案將自動下載</p>'
          );
        }
      }
    </script>
  </body>
</html>
